.system-alert{
    padding:5px;
    margin-bottom: 5px;
}
.alert-name {
    font-weight: bold;
    color: black;
}

.alert-description {
    font-size: 0.8em;
    color: #2F3030;
}
.pad-5-px{
    width: 5px;
}
.indicator{
    width: 5px;
}
.DISTRESS {
    width: 5px;
    background-color: rgba(266,12,0,1);
}
.FALSE_ALARM {
    width: 5px;
    background-color: green;
}
.SUSPICIOUS_ACTIVITY {
    width: 5px;
    background-color: yellow;
}

.red-low-opacity{
    background-color: rgba(266,12,0,0.3);
}

.yellow-low-opacity{
    background-color: rgba(251, 255, 8, 0.3);
}

.green-low-opacity{
    background-color: rgba(18, 255, 11, 0.3);
}

.alert-date{
    font-size: 0.8em;
    color: #2F3030;
}